@tailwind base;
@tailwind components;
@tailwind utilities;

/* .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 64px;
    background-color: #333;
    color: #fff;
    margin: 10px;
}

.nav-items > ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-items > ul > li {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

.nav-items ul li a {
    text-decoration: none;
    color: whitesmoke;
}

.nav-items ul li a:hover {
    color: #0077c9;
}

.logo {
    width: 50px;
}

.card{
    width: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
}

.card > .card-name {
    height: 40px;
    justify-content: center;
}

.card > .card-cuisines {
    height: 80px;
    justify-content: center;
}
    
.card > img {
    width: 100%;
}
    
.restaurant-list {
    display: flex;
    flex-wrap: wrap;
}

.restaurant-list a {
    text-decoration: none;
    color: black;
    cursor: pointer; 
    transition: all 0.3s ease; 
}

.restaurant-list a:hover {
    color: #0077c9;
    transform: scale(1.1);
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: 16px;
}
    
.search-input {
    padding: 0.5em 1em;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    background-color: #444;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2);
}
    
.search-btn {
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
    
.search-btn:hover {
    background-color: #3e8e41;
}

.restaurant-list .shimmer-content {
    width: 200px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}
  
.menu-name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.menu-image {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}
  
.menu-rating {
    font-size: 18px;
    color: #f1c40f;
    margin-bottom: 10px;
}

.menu-price {
    font-size: 18px;
    color: green;
    margin-bottom: 10px;
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.menu-list h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.menu-list ul {
    list-style-type: none;
    width: 80%;
    margin: 0;
    padding: 0;
}

.menu-list li {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}
   */